.search-form {
  position: relative;
}

.search-form input {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #aaaaaa;
  color: #222222;
}

.search-form input:focus {
  outline: none;
}

.search-form label {
  position: absolute;
  color: #aaa;
  left: 10px;
  bottom: 8px;
  transition: all 0.2s;
}

.search-form span {
  width: 0;
  height: 2px;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #666;
  border-radius: 2px;
  transition: 0.5s;
}

.search-form input:focus ~ label,
.search-form input:valid ~ label {
  left: 10px;
  bottom: 37px;
  color: rgb(58, 103, 224);
  font-size: 15px;
  font-weight: bold;
}

.search-form input:focus ~ span,
.search-form input:valid ~ span {
  width: 100%;
}
