@import "username.css";
@import "weather.css";
@import "clock.css";
@import "quotes.css";
@import "search.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(254, 255, 250);
  color: rgb(58, 103, 224);
  /* background-color: rgb(241, 240, 223);
  color: rgb(72, 141, 230); */
  /* font-family: ; */
}

.header-wrap {
  padding: 30px 40px;
  display: flex;
  justify-content: space-between;
}

.main-wrap {
  height: 80vh;
}

.main-left {
  width: 30vw;
  padding-left: 38px;
  display: flex;
  flex-direction: column;
}

.tail-wrap {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.hidden {
  display: none;
}
