@import "username.css";
@import "weather.css";
@import "clock.css";
@import "quotes.css";
@import "search.css";
@import "todo.css";
/* @font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
} */
@font-face {
  font-family: "SUITE-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(254, 255, 250);
  color: rgb(58, 103, 224);
  /* background-color: rgb(241, 240, 223);
  color: rgb(72, 141, 230); */
  font-family: SUITE-Regular;
}

.header-wrap {
  padding: 30px 40px;
  display: flex;
  justify-content: space-between;
  /* background-color: red; */
}

.main-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tail-wrap {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.hidden {
  display: none;
}
